upstream backend  {
{% for address in backend_addresses %}
    server {{ address }}:8484 weight=1 max_fails=3 fail_timeout=10s;
{% endfor %}
}

server {
    listen 80;
    location / {
        proxy_pass http://backend;
    }

    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /usr/share/nginx/www;
    }
}
