[Unit]
Description=backend

[Service]
ExecStart={{ backend_app_path }}/{{ backend_app_name }}
WorkingDirectory={{ backend_app_path }}
User=backend
Restart=always

[Install]
WantedBy=multi-user.target
